<div class="modal fade" id="actualizacionModal" role="dialog" >
  <div class="modal-dialog">
    <div class="card" style="width: 25rem">
      <div class="card-body">
        <div class="modal-content">
          <div class="modal-header">
            <div class="contenedor">
              <div class="contenedor">
                  <button
                    type="button"
                    style="margin: 10px"
                    class="close"
                    data-dismiss="modal"
                  >
                    &times;
                  </button>
                                  {{ segundoReporte }}
                                  {{token}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>