<div class="modal fade" id="actualizacionModal" role="dialog">
  <div class="modal-dialog">
    <div class="card" style="width: 25rem">
      <div class="card-body">
        <div class="modal-content">
          <!-- <div class="modal-header">  -->
            <div class="contenedor">
              <div >
              <button
              id="derecha"
              type="button"
              class="close"
              data-dismiss="modal"
            >
              &times;
            </button>
            </div>
              
            
                <div *ngFor="let item of segundoReporte">{{ item }}</div>
              
            </div>
          </div>
        </div>
      <!-- </div>-->
    </div> 
  </div>
</div>
