<div class="modal fade" id="myModalPicture" data-backdrop="" *ngIf="finalizado">
    <div class="modal-dialog">
      <div class="card" style="width: 25rem">
        <div class="card-body">
          <div class="modal-content">
            <div class="modal-header">
                <h4 >Subir foto</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
  
            <div class="contenedor">
              <div class="contenedor_formulario">
               
           
                <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
                  <div class="file has-name is-boxed">
                    <label class="file-label">
                      <input
                        class="file-input"
                        type="file"
                        formControlName="archivo"
                        (change)="cambioArchivo($event)"
                      />
                
                      <span class="file-name">
                        {{ mensajeArchivo }}
                      </span>
                    </label>
                  </div>
                  <hr />
                  <div class="center">
                  <progress
                    *ngIf="porcentaje > 0 && porcentaje < 100"
                    class="progress is-large is-success"
                    value="{{ porcentaje }}"
                    max="100"
                  >
                    {{ porcentaje }}%
                  </progress>
                  <button
                  style="margin: 10px"
  
                    class="btn btn-outline-primary"
                    [ngClass]="{
                      button: true,
                      'is-success': true,
                      'is-large': true,
                      'is-loading': porcentaje > 0 && porcentaje < 100
                    }"
                    [disabled]="
                      !archivoForm.valid && porcentaje > 0 && porcentaje < 100
                    "
                  >
                    Subir archivo
                  </button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
