<!-- <form (ngSubmit)="guardar()"> -->
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [mapTypeId]="mapTypeId"
>
  <agm-marker
    [latitude]="lat"
    [longitude]="lng"
  >
    <agm-info-window (ngModelChange)="(pets.reporte)"> </agm-info-window>
 
</agm-marker>
<agm-marker *ngFor="let mascota of mascotass let i=index"  [latitude]="mascota.lat" [longitude]="mascota.long"  >
  <agm-info-window> {{mascota.reporte}}</agm-info-window>

</agm-marker>
</agm-map>

<button (click)="getCurrentPosition()">Posición</button>
<input [(ngModel)]="pets.reporte" name="reporte" />

<!-- </form> -->
