<app-actualizacion-model
  [segundoReporte]="arrayReporte"
></app-actualizacion-model>
<app-alert-modal [alert]="puerta" ></app-alert-modal>
<app-mapa-form
  [selectedImage]="selectedImage"
  (textoCambiado)="textoHijo1 = $event"
  (textoCambiado2)="textoHijo11 = $event"
  (segundoReporte)="segundoReporteMain = $event"
  (emailReporte)="emailEnviado=$event"
  (emitReport)="arrayReporte=$event"
  (alertEmit)="puerta=$event"
></app-mapa-form>
<app-respuesta-model
  [textoHijo2]="textoHijo1"
  [textoHijo21]="textoHijo11"
  [token]="emailEnviado"

></app-respuesta-model>
<app-imagen-model (url)="selectedImage = $event"></app-imagen-model>
