<div class="modal fade" id="modalAlert" role="dialog" *ngIf="alert">
  <div class="modal-dialog">
    <div class="card" style="width: 25rem">
      <div class="card-body">
        <div class="modal-content">
          <div class="modal-header">
            <div class="contenedor">
              <div class="contenedor">
                <button
                  type="button"
                  style="margin: 10px"
                  class="close"
                  data-dismiss="modal"
                >
                  &times;
                </button>
                Hemos desarrollado el sitio para que tome la ubicación actual
                del dispositivo como parte del reporte, simplemente haga click
                en "Guardar", pero si desea continuar registrando la ubicación
                manualmente lo puede hacer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
