<div class="modal fade" id="myModalRespuesta" role="dialog" data-backdrop="" *ngIf="puerta">
    <div class="modal-dialog">
      <div class="card" style="width: 25rem">
        <div class="card-body">
          <div class="modal-content">
            <!-- <div class="modal-header"> -->
              <div class="contenedor">
                <div class="contenedor_formulario" style="margin: 10px;"> 
                  <div>
                    <button
                      type="button"
                      style="margin: 10px"
                      class="close"
                      data-dismiss="modal"
                    >
                      &times;
                    </button>
                    <h5>¿Que sabes de éste caso?</h5>
                  </div>
                  <textarea
                    class="col-10"
                    type="textArea"
                    [(ngModel)]="pets.segundoReporte"
                    name="segundoReporte"
                    placeholder="Describe los hechos"
                  >
                  </textarea>
                  <br />
                  <button
                    style="margin: 10px"
                    class="btn btn-primary"
                    (click)="inicio()"
                  >
                    guardar
                  </button>
                  <!-- <p class="download" *ngIf="finalizado">
                    URL de descarga:
                    <a href="{{ URLPublica }}" target="_blank">Descargar</a>
                  </p> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>